/* Bajra manandhar March 15 */

@namespace ag url(http://www.midwesthomes.com/agents);

agent 
   {display: block; font-family: Arial, Helvetica, sans-serif; margin-top: 10px}

name  
   {display: block; font-size: 14pt; letter-spacing: 4; color: blue}

phone 
   {display: block; font-size: 10pt}

email 
   {display: block; font-size: 10pt}


/* place namespace escape style below */
ag\:agent {
   display: block;
   font-family: Arial, Helvetica, sans-serif;
   margin-top: 10px
}

ag|name {
   display: block;
   font-size: 14pt;
   letter-spacing: 4;
   color: blue
}

ag|phone {
   display: block;
   font-size: 10pt
}

ag\:email {
   display: block;
   font-size: 10pt
}