
agent 
   {display: block; font-family: Arial, Helvetica, sans-serif; margin-top: 10px}

name  
   {display: block; font-size: 14pt; letter-spacing: 4; color: blue}

phone 
   {display: block; font-size: 10pt}

email 
   {display: block; font-size: 10pt}


/* place namespace escape style below */


