/*Bajra Manandhar : March 15 2021*/
/* comment */
@namespace ag url(http://www.epacmo.org/agents);

ag\:agent  {display: block; font-family: Arial, Helvetica, sans-serif; font-size: 12pt; 
       font-weight: bold; letter-spacing: 3; margin-left: 15px; 
       border-top: 1px solid black; padding: 5px}

ag\:amount {background-color: rgb(0,128,0); color: yellow}




