
/* comment */
agent 
      {display: block; font-family: Arial, Helvetica, sans-serif; font-size: 12pt; 
       font-weight: bold; letter-spacing: 3; margin-left: 15px; 
       border-top: 1px solid black; padding: 5px}

amount 
      {background-color: rgb(0,128,0); color: yellow}




