/* Bajra Manandhar March 15 2021 */

@namespace cont url(http://www.epacmo.org/contrib);

cont\:contributor 
      {display: block; margin: 10px 0px 10px 30px; width: 600px;
       border: 1px dashed black; padding: 5px; 
       background-color: rgb(233,244,233)}

cont\:first, cont\:last
      {font-weight: bold}

cont\:address 
      {display: block; margin-left: 10px}

cont\:street 
      {display: block}

cont\:zip 
      {padding-left: 5px}

cont\:phone 
      {display: block}

cont\:amount 
      {display: block}



